<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
    var host = "daniel-stone.uk";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
        window.location.protocol = "https";
</script>
    {% include meta.html %}
      <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
    <link rel="canonical" href=" { { site.url } }{ { page.url } }" />
      {% include css.html %}
  </head>

  <body class="home overflow-hidden">
    {% include header.html %}
    {% include main.html %}
    {% include js.html %}
    {% include analytics.html %}
  </body>
</html>
